<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <!-- Additional sections -->
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

    <!--
        @brief NLog settings
        @see http://nlog-project.org/wiki/Tutorial
             http://nlog-project.org/wiki/Configuration_File
             http://stackoverflow.com/questions/4091606/most-useful-nlog-configurations
    -->
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="LogFile" xsi:type="File" fileName="LogFile.log" />
            <target name="Console" xsi:type="ColoredConsole" />
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="LogFile" />
            <logger name="*" minlevel="Info" writeTo="Console" />
        </rules>
    </nlog>
    
</configuration>